body {
    margin : 0;
    font-family : Verdana, sans-serif;
    background-color: rgb(242, 242, 242);
}

h1 {
    padding-top: 1em;
    margin: auto;
    text-align: center;
}

/* Big screens */

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    font-size : 1.1em;
    display: flex;
    justify-content : space-between;
    background :#9cc57e;
}

nav ul {
    list-style : none;
    padding : 0;
    display : flex;
    margin: 1em 0.25em;
}

nav li {
    margin: 0 1em;
}

nav a,
nav a:visited,
.items-number {
    text-decoration : none;
    color : rgb(235, 234, 221);
}

nav a:hover {
    color : rgb(85, 84, 79);
}

.current {
    color : rgb(85, 84, 79);
}


/* Small screens */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: rgb(235, 234, 221);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    text-align: center;
}

.topnav div a {
    text-align: left;
}

.topnav a.icon {
    background: #333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding : 16.5px 18px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

.form-container {
    background: #ffffff;
    margin: 4.5% auto;
    width: 50%;
    max-width : 500px;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: white;
    color: black;
    padding: 1em;
    border: 2px solid #7bbb4d;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-size: 0.9em;
}

.btn:hover {
    background-color : #7bbb4d;
    color: white;
    cursor: pointer;
}

.btn-red {
    text-decoration: none;
    border: 2px solid #c53e3e;
}

.btn-red:hover {
    background-color : #c53e3e;
    color: white;
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

fieldset {
    border: 4px solid #9cc57e;
    border-radius: 6px;
}

.form-control-lg {
    min-height: calc(1.5em + (1rem + 2px));
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.form-check {
    padding-bottom: 15px;
}

small {
    margin-left: 1%;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.was-validated :invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* Home */

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 7%;
}

.product {
    flex: 1 1 0px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: rgb(256,256,256);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin: 0.3em 0;
}

.product img {
    border-radius: 5%;
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.num-elems {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.btn-num {
    border: none;
    border-radius: 10%;
    background-color: #5fc866;
    font-size: 1.5em;
    text-align: center;
    width: 30px;
    height: 30px;
    color: rgb(256,256,256);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-num:hover {
    background-color: #75d77b;
    cursor: pointer;
}

.num-items {
    font-size: 1.4em;
    margin: 0 10px;
}

.product button:hover {
    cursor: pointer;
}

.btn-add {
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    margin: 0 15px;
    padding: 0.5em;
    border: 2px solid #3377ff;
    background-color : #3377ff;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-size: 0.9em;
}

.btn-add:hover {
    background-color : #538cff;
    border-color: #538cff;
    cursor: pointer;
}

.price {
    margin: 7px 0.6em;
    font-size: 1.1em;
}

/* About us page */

.container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    font-size: 1.8vw;
}

.name {
    font-size : 2.2vw;
}

.highlight {
    background-color: #eef07d;
}

.half {
    width: 50%;
    margin: 0 2px;
}

.mosaic {
    width: 50%;
    margin: 0 2px;
    display: grid;
    grid-template-rows: 1fr;
}

.mosaic-item:first-of-type {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
}

.mosaic-item:last-of-type {
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
}

/* Cart */

.center {
    text-align: center;
}

.btn-shop {
    margin: 1.5vw auto;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1em;
    border: 2px solid #7bbb4d;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-size: 1.2em;
}

.btn-shop:hover {
    background-color : #7bbb4d;
    color: white;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 75%;
    margin: 0 auto;
}

th {
    background-color: #9cc57e;
}

td {
    font-size: 1.15em;
}

.quantity-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-img {
    width: 50px;
    margin-right: 10px;
}

.btn-change-num {
    border: none;
    border-radius: 10%;
    background-color: #5fc866;
    font-size: 1.5em;
    text-align: center;
    width: 30px;
    height: 30px;
    color: rgb(256,256,256);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.btn-change-num:hover {
    background-color: #75d77b;
    cursor: pointer;
}

.delete {
    color: black;
    font-size: 1.3em;
}

.delete:hover {
    color: rgb(92, 92, 92);
    cursor: pointer;
}

#confirm {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    margin-left: 10%;
}

/* Admin page */

.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 7.5%;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.drop-link {
    font-size: large;
    padding: 5px 10px;
    color: rgb(85, 84, 79);
}

.drop-link:hover {
    background-color: #9cc57e;
    cursor: pointer;
}

#dropdown1 {
    margin-left: 20px;
}

#dropdown2 {
    margin-left: 128px;
}

.btn-delete {
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    margin: 0 15px;
    padding: 0.5em;
    border: 2px solid red;
    background-color : red;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-size: 0.9em;
}

.btn-delete:hover {
    background-color: rgb(255, 69, 69);
    border-color: rgb(255, 69, 69);
    cursor: pointer;
}

.price-input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: right;
    width: 63px;
}

/* media queries */

@media (max-width : 576px) {
    header {
        display: none;
    }

    .main {
        margin-top: 0;
    }

    .form-container {
        width: 75%;
    }

    .alert {
        text-align: center;
    }

    .container {
        display: block;
    }

    .half {
        width: 95%;
        font-size: 1.1rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .mosaic {
        width: 95%;
        display: block;
    }

    .mosaic-item:first-of-type {
        display: none;
    }

    .product {
        max-width: 175px;
    }

    table {
        width: 98%;
    }

    .btn-change-num {
        width: 20px;
        height: 20px;
        font-size: 1em;
    }
}

@media (min-width : 577px) {
    .topnav {
        display: none;
    }

    .alert {
        margin: 10px 15%;
    }

}

@media (min-width : 577px) and (max-width : 860px) {
    .container {
        display: block;
    }

    .half {
        width: 95%;
        font-size: 1.1rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .mosaic {
        width: 90%;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }

    .mosaic-item {
        width: 47%;
    }

    .product {
        max-width: 200px;
    }

    table {
        width: 90%;
    }

    .dropdown {
        left : 0%;
    }

}

@media (min-width : 860px) {
    #left {
        padding-left: 7.5%;
    }

    #right {
        padding-right: 10%;
    }

    .form-container {
        width: 65%;
    }

    .products-container {
        margin: 10px 5%;
    }

    .table-img {
        width: 100px;
    }

    #dropdown1 {
        margin-left: 21px;
    }
    
    #dropdown2 {
        margin-left: 128px;
    }

}

@media (min-width : 1200px) {
    .half {
        width: 35%;
        font-size: 1.5vw;
    }

    .name {
        font-size: 2vw;
    }

    .mosaic {
        width: 65%;
    }

}

@media (min-width : 1500px) {
    .half {
        font-size : 1.3vw;
        letter-spacing: 0.1em;
    }
}

@media (min-width : 860px) and (max-width : 1113px) {
    .product {
        max-width: 220px;
    }
}

@media (min-width : 1113px) and (max-width : 1400px) {
    .product {
        max-width: 240px;
    }
}

@media (min-width : 1400px) {
    .product {
        min-width: 200px;
        max-width: 260px;
    }
}

.active {
    background-color: #9cc57e;
    color: rgb(235, 234, 221);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}