{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <form action="https://formsubmit.co/2e6643b848bb886e51d24d4cc47ebdea" method="POST">
        <fieldset class="form-group">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="http://127.0.0.1:5000/thank">
            <div class="form-group">
                <label class="form-control-label" for="name">Name</label>
                <input class="form-control form-control-lg" type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input class="form-control form-control-lg" type="email" name="email" id="email" value="{{ email }}" required>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="message">Message</label>
                <textarea class="form-control form-control-lg" name="message" id="message" cols="30" rows="7" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Send</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}