{% extends "layout.html" %}
{% block content %}

<div id="slider">  
    <div class="slide">
      <img src="{{ url_for('static', filename='images/slide1.jpg') }}">
    </div>
    <div class="slide">
       <img src="{{ url_for('static', filename='images/slide2.jpg') }}">
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/slide3.jpg') }}">
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/slide4.jpg') }}">
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/slide5.jpg') }}">
    </div>
    
    <!--Controlling arrows-->
    <span class="controls" onclick="prevSlide(-1)" id="left-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
    <span class="controls" id="right-arrow" onclick="nextSlide(1)"><i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
</div>

<div id="dots-con">
  <span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
</div>

<div class="products-container">
  {% for product in products %}
  <div class="product">
    <img src="{{ url_for('static', filename='images') }}/{{ product.imageURL }}" alt="">
    <div class="product-name">{{ product.name }}</div>
    <div class="btn-container">
      <div class="num-elems">
        <div class="btn-num" onclick='downQuantities({{ product.id|tojson }})'>-</div>
        <span class="num-items" id="span{{ product.id }}">1</span>
        <div class="btn-num" onclick='upQuantities({{ product.id|tojson }})'>+</div>
      </div>
      <a class="btn-add" id="link{{ product.id }}" href="/add-product/{{ product.id }}/1">Buy</a>
    </div>
    <div class="price">
      {% set price = product.price|string %}
      {% if 3 > price|length %}
          {{ price }} 000 LBP
      {% else %}
          {{ price[:-3] }} {{ price[-3:] }} 000 LBP
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='slider.js') }}"></script>
{% endblock %}